# DS store

.DS_Store
python/
BestModel/
CollectedData/
CollectedGroupData/
ExperimentResult/
OldData/
PastNotebookFiles/
results/
runs/
Statistics/
TrainData/
.idea/
.ipynb_checkpoints/
*.txt
*.npy
*.csv
*.pdf
*.out
